<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    CSS Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Precio articulo</title>
    <style>
        #centered {
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }
        body{
            background: #F4F9F9
        }
    </style>
</head>
<body>
<div style="background: black;">
    <img src="../../assets/img/logo.png" alt="Logo" style="width:40%;">
    <div class="align-items-end">
    <img src="../../assets/img/facebook2.png" alt="Logo" style="width:1%;">
    </div>
</div>
<div id="centered">
    <div style="text-align: center">
        <input type="search"
               id="inputSearch"
               onkeyup="search()"
               class="form-control"
               placeholder="Buscar artículo..."
               aria-label="Buscar artículo..."
               aria-describedby="basic-addon2"
               autofocus
               style="
                width: 250px;
                margin: 0 auto;
                text-align: left;"
        >
    </div>
    <div id="result" class="text-center m-5"></div>
</div>

<script type="text/javascript">
    const sql = require('mssql');

    var sqlConfig = {
        user: "sa",
        password: "sa",
        server: "127.0.0.1",
        database: "SAGE200",
        // server: "172.26.0.11",
        // database: "SAGE200",
        options : {
            trustServerCertificate : true
        }
    };
    sql.on('error', err => {
        console.log(err)
    });

    function search(){
        const input =  document.getElementById('inputSearch')

        const result = document.getElementById('result')
        while (result.firstChild) {
            result.removeChild(result.lastChild);
        }

        if (input.value.toUpperCase()!=="") {
            sqlSearch(input.value.toUpperCase())
        }
    }
    async function sqlSearch(a){
        try {
            const pool = await sql.connect(sqlConfig)
            const article = await sql.query("SELECT * FROM Articulos WHERE CodigoAlternativo='"+a+"'");

            const result = document.getElementById('result')
            while (result.firstChild) {
                result.removeChild(result.lastChild);
            }
            const description =  document.createElement('h4');
            description.setAttribute('id','descriptionArticle')
            description.appendChild(document.createTextNode(article.recordset[0].DescripcionArticulo));
            result.appendChild(description);

            const price =  document.createElement('h3');
            price.setAttribute('id','priceArticle')
            price.appendChild(document.createTextNode(article.recordset[0].PrecioVenta+'€'));
            result.appendChild(price);
        }catch (e){
            console.log('Error connect -> '+e)
        }
    }
</script>
</body>
</html>